@import "tailwindcss";

@theme {
  /* container */
  --container-center: true;
  --container-padding: 1.25rem;

  /* colors */
  --color-primary: #b4d429;
  --color-dark: #171923;
  --color-light: #fff;
  --color-body: #1d1e28;
}
